/* Estilos Generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Barra de Navegación */
.navbar {
    background-color: #333;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #555;
    color: white;
}

/* Nuevos estilos para la marca de la barra de navegación */
.navbar-brand {
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #ddd;
}

/* Estilo para el ícono del toggler en dispositivos móviles */
.navbar-toggler {
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.navbar-toggler-icon {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}


/* Títulos y Textos */
h1, h2, p {
    margin: 10px 0;
}

/* Formularios y Botones */
form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="number"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: inline-block;
    background-color: #0056b3;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #003d82;
}

/* Enlaces */
a.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

a.btn:hover {
    background-color: #444;
}
